
body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
    font-size: 1.4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 4px solid rgb(255, 255, 255);
    width: calc(100vw - 3vw);
    color: white;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 10000;
}

header h1 {
    justify-self: flex-start;
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.button {
    background-color: gold;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.enlace-activo {
    color: gold !important;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
    cursor: default;
}

header .enlace-activo {
    text-shadow: 0 0 20px rgb(255, 0, 0);
}

form {
    text-align: center;
    color: white;
    height: 70vh;
    width: calc(100vw - 4vw);
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: gold;
}

textarea {
    resize: vertical;
    min-height: 20%;
}

input:focus,
textarea:focus {
    border-color: red;
    box-shadow: 0 0 10px gold;
}

input[type="submit"] {
    background-color: red;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 20px auto 0; 
    display: block; 
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 5vh;
    background-color: #000000;
    border-top: 3px solid #ffffff;
    font-size: 0.8em;
}

.autor {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 10px;
}

#rs {
    display: flex;
    gap: 20px;
}

#rs i {
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    cursor: pointer;
    transition: color 0.3s ease-out, transform 0.3s ease-out;
}
